#container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

th {
  text-align: left;
}

.block td{
  display: inline-block;
  width: 100px;
  float: left;
  height: 100px;
  border: solid black 2px;
  margin: 2px;
  border-radius: 50%;
}

table {
  border: solid black 2px;
  margin: 20px;
}

#red {
  background-color: red;
}

#black {
  background-color: black;
}
