<div class-"container">
  <h1>Connect Four</h1>


</div>
  <table>
     <div>
      <tr class="buttons">
        <td ><form>
        <input id = "column-1" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "1">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-2" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "2">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-3" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "3">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-4" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "4">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-5" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "5">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-6" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "6">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <td><form>
        <input id = "column-7" type = "submit" value = "Drop">
        <input type = "hidden" name = "column" value = "7">
        <input type= "hidden" id="row" value = "6">
        </form></td>
        <form>
          <input type = "hidden" id = "turn_counter" value = "0">
        </form>
      </tr>
    </div>
  </table>
  <table>

    <div>
      <tr id="1" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="2" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="3" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="4" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="5" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="6" class="block">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </div>
  </table>
</div>









